
</div>
<div class="footer-padding">
  <div class="footer">
    <p>Copyright 2021</p>
  </div>
  </div>
</div>
<script>
	function auto_grow(element) {
    element.style.height = "5px";
    element.style.height = (element.scrollHeight)+"px";
	}
 </script>
</body>
</html>
